.is-sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #ffffff;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.header-section {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 35px 0 35px;
    background-color: #ffffff;
}

.header-section-left {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}