.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > img {
    width: 60%;
}

.login > button {
    padding: 15px;
    border: 0;
    border-radius: 25px;
    background-color: #1db954;
    font-family: 'Helvetica';
    font-weight: 800;
    color: white;
    text-decoration: none;
}