.topArtists {
    padding: 2rem 3rem;
}

.topArtists ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1rem));
    justify-content: center;
    justify-items: center;
    grid-gap: 4rem;
}

.topArtists img {
    max-width: 180px;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.topArtists .subtitle {
    font-weight: 100;
    padding: 10px;
}

.topArtists .imageListItemBar {
    text-align: center;
    margin-top: -6px; 
    background-color: white;
    color: black;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

/* The wrapper around title and subtitle of the image */
.topArtists .css-186gwnw-MuiImageListItemBar-titleWrap {
    padding: 7px 0 7px;
}